.env
certificates/*.pem
grafana/lib
heimdall/keys/cert.crt
heimdall/keys/cert.key
heimdall/log 
heimdall/nginx 
heimdall/php 
heimdall/www 
homeassistant/config/*.db*
homeassistant/config/*.log
homeassistant/config/.storage
homeassistant/config/.HA_VERSION
homeassistant/config/blueprints
influxdb/var
mosquitto/config/passwords
mosquitto/data
mosquitto/log
node-red/data/.config*
node-red/data/*.backup
node-red/data/node_modules
secrets/*
zigbee2mqtt/data/database.db
zigbee2mqtt/data/log
zigbee2mqtt/data/state.json
