.env
certificates/*.pem
grafana/lib
heimdall/keys/cert.crt
heimdall/keys/cert.key
heimdall/log 
heimdall/nginx 
heimdall/php 
heimdall/www 
homeassistant/*.db*
homeassistant/*.log
homeassistant/.storage
homeassistant/.HA_VERSION
homeassistant/blueprints
influxdb/var
mosquitto/config/passwords
mosquitto/data
mosquitto/log
node-red/.config*
node-red/*.backup
node-red/*_cred*
node-red/node_modules
zigbee2mqtt/database.db
zigbee2mqtt/log
zigbee2mqtt/state.json
