.env
bt-mqtt-gateway/config.yaml
certificates/*.pem
grafana/lib
heimdall/keys/cert.crt
heimdall/keys/cert.key
heimdall/log 
heimdall/nginx 
heimdall/php 
heimdall/www 
influxdb/var
mosquitto/config/passwords
mosquitto/data
mosquitto/log
node-red/.config*
node-red/*.backup
node-red/*_cred*
node-red/node_modules
telegraf/telegraf.conf
zigbee2mqtt/database.db
zigbee2mqtt/log
zigbee2mqtt/state.json
